@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin:0;
	padding:0;
	
}

body{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
#topheader{
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/hero_2.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:100vh;
}
.container{
	width:1140px;
	margin:auto;
	padding-left:15px;
	padding-right:15px;
}
.logo {
    width: 120px;
    float: left;
}
.nav-right-content {
    width: 1020px;
    float: left;
}

.nav-right-content ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.myNav {
    overflow: hidden;
}


.nav-right-content ul li {
    float: left;
}

.nav-right-content ul li a {
    text-decoration: none;
    padding: 40px 0px;
    margin-right: 55px;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    color: #efffff;
}
.logo h1 {
    color: #ffffff;
    font-size: 30px;
    margin-top: 26px;
}

.logo h1 span{
    color: #ff0000;
    
}
#last-a{
	margin-right:0 !important;
}

.nav-title {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-title h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px;
}

.nav-title p {
    color: #fff;
    text-align: center;
    font-weight: 200;
    line-height: 25px;
    margin-bottom: 50px;
}

.nav-btn {
    text-align: center;
}

.nav-btn button {
    border: none;
    outline: none;
    color: #fff;
    background: #e81050;
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    text-transform: capitalize;
}

.nav-btn button:hover{
	background:#fff;
	color:#e81050;
}
.image img{
	max-width:100%;
	height:auto;
}

section{
	padding:80px 0;
}
.image-content {
    width: 550px;
    background: #e81050;
    padding: 40px;
    color: #fff;
    bottom: -65px;
    right: 100px;
    position: absolute;
    box-sizing: border-box;
}

.image-content span {
    font-size: 13px;
    letter-spacing: 1px;
    color: #ddd;
    margin-bottom: 25px;
    display: inline-block;
}

.image-content h2 {
    font-size: 35px;
    margin-bottom: 30px;
    width: 340px;
}

.image-content .p-des {
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 30px;
}
p.img-read-more {
    width: 140px;
    background: #505288;
    text-align: center;
    padding: 14px 0;
    border-radius: 30px;
}
.image-wrapper {
    position: relative;
}

.team-heading {
    margin-bottom: 50px;
}

.team-heading h2 {
    color: #e81050;
    font-size: 45px;
    line-height: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    width: 50%;
}

.team-heading p {
    width: 400px;
    font-size: 20px;
    line-height: 40px;
    color: #999;
    font-weight: 200;
}

.team-single-image {
    width: 264px;
    float: left;
    position: relative;
    margin-right: 28px;
    margin-bottom: 25px;
    overflow: hidden;
}

.team-image {
    overflow: hidden;
}
.team-sin-im{
	width:100%;
	height:270px;
}

.team-single-image img {
    max-width: 100%;
	height:100%;
}

.team-img-content {
    background: #f0f0f0;
    padding: 20px;
}
.team-single-image:nth-child(4) {
    margin-right: 0;
}
.team-single-image:nth-child(8) {
    margin-right: 0;
}

.team-img-content h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
}

.team-img-content p {
    color: #969696;
    font-size: 16px;
}

.team-social-icon a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.team-social-icon {
    background: #e81050;
    width: 45px;
    position: absolute;
    left: -100px;
    bottom: 93px;
    transition: .50s all ease;
    transform-origin: left;
}

.team-single-image:hover .team-social-icon{
	left:0;
}

.team-section{
	border-bottom:1px solid #ddd;
}
.we-are-weapper:after{
	display:block;
	clear:both;
	content:'';
}

.we-are-left-content {
    width: 560px;
    float: left;
    position: relative;
}

.we-are-right-content {
    width: 560px;
    float: left;
}

.we-are-left-content img {
    max-width: 100%;
    z-index: 1;
}

.we-are-right-content h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #e81050;
}

.right-all {
    padding-left: 120px;
}

p.pfirst {
    margin-bottom: 16px;
    color: #9E9E9E;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}

p.psecond {
    line-height: 26px;
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 22px;
}


.we-are-btn button {
    background: #e81050;
    color: white;
    outline: none;
    transition: .4s;
    font-size: 17px;
    cursor: pointer;
    padding: 13px 26px;
    border: 1px solid #e81050;
    border-radius: 50px;
	margin-bottom: 30px;
}

.we-are-btn button:hover {
    background: #fff;
    color: #e81050;
}

.spanpre {
    width: 100px;
    background: #e81050;
    color: white;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 26px 30px;
    left: 50%;
    transform: translate(-50%, -60%);

}

.spanpre a{
	color:#fff;
	text-decoration:none;
	display:inline-block;
	margin-right:10px;
}
.spanpre a:last-child{
	margin-right:0;
}

.appro-heading h1 {
    color: #e81050;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 60px;
}
.approch-single-wrapper {
    width: 363px;
    display:inline-block;
}

.approch-single-wrapper h2 span {
    color: #e81050;
    font-size: 17px;
}

.approch-single-wrapper h2 {
    font-size: 32px;
    color: #111;
    font-weight: 400;
    margin-bottom: 12px;
}

.approch-single-wrapper p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #777;
}
.approch-single-wrapper:nth-child(2) {
    margin: 0px 20px;
}

.our-services{
	background:#f8f9fa;
	border-bottom:1px solid #ddd;
}
.section-title h1 {
    text-align: center;
    color: #e81050;
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 800;
}
.singel-services {
    width: 363px;
    overflow: hidden;
    float: left;
    margin-bottom: 50px;
}

.service-icon {
    width: 60px;
    float: left;
    text-align: center;
    font-size: 42px;
    color: #e81050;
}

.services-content {
    width: 250px;
    float: left;
    margin-left: 25px;
}

.services-wrapper {
    overflow: hidden;
}

.services-content h2 {
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;
}

.services-content p {
    line-height: 25px;
    font-size: 17px;
    color: #808080;
    margin-bottom: 20px;
}
.learn-more-btn a {
    text-decoration: none;
    color: #e81050;
	transition:.4s;
}
.learn-more-btn a:hover{
	color:#444;
}
.singel-services:nth-child(2) {
    margin: 0 25px;
}

.singel-services:nth-child(5) {
    margin: 0 25px;
}
.test-content p {
    width: 815px;
    margin: auto;
    text-align: center;
    font-style: italic;
    line-height: 40px;
    font-size: 25px;
    color: #808080;
    margin-bottom: 60px;
}

.test-img-content {
    width: 156px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.test-img-content p {
    width: 81px;
    text-align: center;
    float: left;
    margin-left: 25px;
    margin-top: 16px;
    font-size: 16px;
    color: #808080;
}

.test-img {
    width: 50px;
    float: left;
    height: 50px;
    border-radius: 50%;
}

.test-img img {
    width: 100%;
    border-radius: 50%;
}
.test-slider-icon {
    width: 72px;
    margin: auto;
    overflow: hidden;
}

.test-slider-icon span {
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    border-radius: 50%;
    margin: 0 4px;
    background: #dee2e6;
}
.test-slider-icon span:first-child {
    background: #e81050;
}

.consulting-left {
    width: 690px;
    float: left;
}

.consulting-right {
    width: 450px;
    float: left;
	position:relative;
}

.consulting-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.con-heading h2 {
    font-size: 40px;
    color: #e81050;
    font-weight: 800;
    margin-bottom: 30px;
}
.con-left-content {
    width: 280px;
    float: left;
}

.con-right-content {
    width: 280px;
    float: left;
    margin-left: 40px;
}

.con-content {
    overflow: hidden;
}

.con-left-content i {
    font-size: 50px;
    color: #e81050;
    margin-bottom: 25px;
}

.con-left-content h3 {
    color: #808080;
    margin-bottom: 8px;
    font-size: 22px;
}

.con-left-content p {
    color: #808080;
    line-height: 28px;
    margin-bottom: 20px;
}

.con-btn a {
    color: #e81050;
    text-decoration: none;
	transition:.5s;
}
.con-btn a:hover{
	color:#333;
}
.consulting-img-area {
    width: 100%;
    height: 300px;
}

.consulting-img-area img {
    max-width: 100%;
    height: 100%;
}

.con-right-content i {
    font-size: 50px;
    color: #e81050;
    margin-bottom: 25px;
}

.con-right-content h3 {
    color: #808080;
    margin-bottom: 8px;
    font-size: 22px;
}

.con-right-content p {
    color: #808080;
    line-height: 28px;
    margin-bottom: 20px;
}
.blog-title {
    margin-top: 100px;
}

.blog-title span {
    display: block;
    text-align: center;
    color: #e81050;
    font-size: 14px;
    margin-bottom: 6px;
}

.blog-title h1 {
    text-align: center;
    color: #e81050;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 70px;
}

.single-blog {
    width: 360px;
    float: left;
}
.single-blog:nth-child(2){
	margin: 0 30px;
}

.single-blog-img {
    height: 300px;
}

.single-blog-img img {
    max-width: 100%;
    height: 100%;
}

.blog-wrapper {
    overflow: hidden;
}
.single-blog h2 {
    color: #e81050;
    font-size: 21px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 15px;
}

p.b-title {
    margin-bottom: 30px;
    color: #999;
    font-size: 15px;
}

p.b-title span {
    color: #e81050;
}

p.b-desc {
    color: #808080;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 25px;
}

.continueBtn a {
    color: #e81050;
    text-decoration: none;
}

.our-service2-section{
	background:#f8f9fa;
}

.contact-wrapper {
    overflow: hidden;
}

.contact-form {
    width: 650px;
    float: left;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.address-area {
    width: 455px;
    float: left;
    background: #fff;
    padding: 130px 50px;
    margin-left: 35px;
    box-sizing: border-box;
}

.con-heading {
    font-size: 20px;
    margin-bottom: 40px;
    color: #222;
}

.input-filed {
    overflow: hidden;
}

.left-field {
    width: 250px;
    float: left;
}

.right-field {
    width: 260px;
    float: left;
    margin-left: 60px;
	box-sizing: border-box;
}

.right-field input {
    width: 100%;
	box-sizing: border-box;
}

.left-field input {
    width: 100%;
	box-sizing: border-box;
}

.input-filed2 input {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    border-radius: 29px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 15px;
	outline:none;
	font-size:17px;
}
.contact-wrapper input {
    border: 1px solid #ddd;
    padding: 11px 0;
    margin: 13px 0;
    border-radius: 25px;
    outline:none;
    font-size:17px;
    padding-left:10px;
}
.contact-wrapper input:focus{
	border-color:#e81050;
}
.text-area-p{
	margin-bottom:13px;
}

textarea:focus{
	border-color:#e81050;
}
.send-mess-btn a {
    background: #e81050;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #e81050;
    transition: .4s;
}

.send-mess-btn a:hover {
    background: #fff;
    color: #e81050;
}
.address p {
    color: #555;
    margin-bottom: 30px;
}
.address h4 {
    margin-bottom: 10px;
    color: #333;
    font-size: 26px;
}
.address h4 i {
    margin-right: 10px;
    color: #E81050;
}
.phone h4 i {
    margin-right: 10px;
    color: #E81050;
}
.email h4 i {
    margin-right: 10px;
    color: #E81050;
}

.phone p {
    margin-bottom: 30px;
}
.phone h4 {
    margin-bottom: 10px;
    color: #333;
    font-size: 25px;
}

.email p {
    margin-bottom: 40px;
}
.email h4 {
    margin-bottom: 10px;
    color: #333;
    font-size: 25px;
}

.footer-section{
	background:#333333;
	padding:150px 0;
}

.footer-wrapper {
    overflow: hidden;
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 100px;
}

.footer-left-content {
    width: 550px;
    float: left;
}

.footer-middle-content {
    width: 200px;
    float: left;
}

.footer-right-content {
    width: 380px;
    float: left;
}
.footer-left-content h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-middle-content h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-right-content h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-left-content p {
    color: #666;
    line-height: 28px;
    width: 285px;
    font-size: 16px;
}
.footer-middle-content ul {
    list-style: none;
}

.footer-middle-content ul li a {
    color: #777;
    text-decoration: none;
    padding-bottom: 18px;
    display: block;
    transition: .5s;
}

.footer-middle-content ul li a:hover {
    color: #fff;
}
.footer-middle-content ul {
    list-style: none;
}

.footer-middle-content ul li a {
    color: #777;
    text-decoration: none;
    padding-bottom: 18px;
    display: block;
    transition: .5s;
}

.footer-middle-content ul li a:hover {
    color: #fff;
}

.input-btn-filed input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    border: 1px solid #777;
    background: transparent;
    color: #fff;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 25px;
    outline: none;
}
.input-send-btn a {
    background: #e81050;
    color: black;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 0px 25px 25px 0px;
    display: inline-block;
}

.input-btn-filed {
    position: relative;
}

.input-send-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-right-content h4{
	color: white;
    margin: 20px 0;
    font-size: 17px;

}
.footer-social-icon a {
    text-decoration: none;
    color: #777;
    display: inline-block;
    margin: 010px;
    font-size: 17px;
    transition: .3s;
}

.footer-social-icon a:hover {
    color: white;
}

p.copyright {
    text-align: center;
    color: #777;
    margin-top: 60px;
}



















